.tinder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .tinder--cards {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .tinder--card {
    display: inline-block;
    width: 380px;
    height: 75%;
    background: #452103;
    padding-bottom: 40px;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    border: 5px solid #934B00;
    text-align: center;
    margin-bottom: 140px;
  }

  .tinder--card--image {
    pointer-events: none;
    border-bottom: 5px solid #934B00;
  }
  
  .tinder--buttons {
    position: absolute;
    flex: 0 0 100px;
    text-align: center;
    bottom: 6px;
    left: 0;
    right: 0;
  }
  
  .tinder--buttons button {
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 0;
    background: #BB6B00;
    display: inline-block;
    padding-top: 10px;
    margin: 0 12px;
  }
  
  .tinder--buttons button:focus {
    outline: 0;
  }
